numpy==1.26.4
opencv-python==4.8.1.78
mediapipe==0.10.7
git+https://github.com/elliottzheng/batch-face.git@master
scikit-image
torch torchvision --index-url https://download.pytorch.org/whl/cu124 # May need to install https://aka.ms/vs/17/release/vc_redist.x64.exe <--- This wasn't available in my vm, if you get an error relating to C# libaries this is likely what you need

#conda install -c conda-forge libjpeg-turbo libpng    
#conda install pytorch torchvision pytorch-cuda=12.4 -c pytorch -c nvidia
#conda activate Eye-gaze
